* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    font-family: Arial, sans-serif;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #4e73df, #224abe);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background: white;
    color: #224abe;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #f1f1f1;
}

/* SECTION */
.section {
    padding: 60px 10%;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

/* CATEGORY CARD */
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* PRODUCT CARD */
.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.btn-small {
    display: inline-block;
    background: #4e73df;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-small:hover {
    background: #224abe;
}
.btn-small {
    background: #4e73df;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
}

.btn-small:hover {
    background: #224abe;
}

/* OFFER */
.offer {
    background: #f8f9fc;
    text-align: center;
    padding: 40px 20px;
    font-size: 20px;
    font-weight: bold;
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}